*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    background-color: rgb(15, 81, 223);
    display: flex;
    
}
nav h1 {
    color: white;
    padding: 5px;
}
nav ul {
    display: flex;
}
nav ul, li a {
    list-style-type: none;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
} 